{% extends 'main/base.html' %}

{% block right %}width:1488px;height:742px;{% endblock %}
{% block fon %}https://kiev.itstep.org/dist/images/courses-adult/rpo-new-2/main-new1.png{% endblock %}
{% block content %}
<div class="col-5">
    <form action="">
        <h1 class="col-md-6 text-secondary offset-2">Онлайн-школа програмування Python</h1>
        <h6 class="col-md-4 text-secondary offset-2">на цьому сайті ви зможете детально ознайомитися з мовою програмування Python та її можливостями</h6>
        <a type="button" class="btn btn-secondary mt-5 offset-2" href="/school">Почати навчання</a>
        <h6 class="text-muted mt-5">.</h6>
        <h6 class="text-muted mt-5">.</h6>
        <h6 class="text-muted mt-5">.</h6>
        <h6 class="text-muted mt-2">.</h6>
    </form>
</div>
{% endblock %}
