{% extends 'main/base.html' %}

{% block right %}width:1488px;height:1044px;{% endblock %}
{% block fon %}https://catherineasquithgallery.com/uploads/posts/2021-02/1612190588_53-p-fioletovii-fon-odnotonnii-na-ves-ekran-68.jpg{% endblock %}
{% block content %}
<h2 class="text-center mt-2 text-secondary">Курси програмування мови Python</h2>
        <div class="offset-1 mt-4">
            <div>
                <a type="button" class="btn btn-secondary me-3" href="/school_all">Все</a>
                <a type="button" class="btn btn-secondary me-3" href="/school">Мова</a>
                <a type="button" class="btn btn-secondary me-3" href="/school_cite">Сайти</a>
                <a type="button" class="btn btn-secondary me-3" href="/school_game">Ігри</a>
                <a type="button" class="btn btn-outline-secondary me-3" href="/">Хост</a>
                <a type="button" class="btn btn-secondary me-3" href="/school_inshe">Інше</a>
            </div>
        </div>
        <h2 class="text-center mt-2 text-secondary">На цій сторінці ви зможете дізнатися як перенести сайт на безкоштовний хостинг</h2>
        <h6 class="offset-1 text-secondary col-md-7 mt-1">Хостинг - це термін, що використовується в комп'ютерних мережах та програмуванні i має декілька визначень: Будь-який комп'ютерний пристрій, що має доступ до IP мережі тобто синонім терміна вузол мережі.</h6>
        <h6 class="offset-1 text-secondary col-md-7 mt-2">Увага!- цей спосіб не може гарантувати вам успішне завершення роботи з іншими модулями окрім Django</h6>
        <div class="container">
            <div class="row mt-4">
                <div class="col-6 offset-1">
                    <h2 class="text-secondary col-md-7">Для початку нам потрібно завантажити наш проект на платформу GitHub, дізнатися як це зробити можна за відео-посиланням правіше</h2>
                </div>
                <div class="col-3 mt-4">
                    <iframe width="353" height="200" src="https://www.youtube.com/embed/Ov4n-TxoYUE" title="Как загрузить проект на GitHub" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6 offset-1">
                    <h2 class="mt-3 text-secondary col-md-7">Потім ми заходимо на сайт Pythonanywhere, реєструємося і переглядаємо відео правіше</h2>
                </div>
                <div class="mt-3 col-3">
                    <iframe width="353" height="200" src="https://www.youtube.com/embed/xtnUwvjOThg" title="Deploy a Django web app to Python Anywhere [FREE]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
<h6 class="mt-5">.</h6>
<h6 class="mt-3">.</h6>
<h6>.</h6>
{% endblock %}