{% extends 'main/base.html' %}

{% block right %}width:1488px;height:1164px;{% endblock %}
{% block fon %}https://catherineasquithgallery.com/uploads/posts/2021-02/1612190588_53-p-fioletovii-fon-odnotonnii-na-ves-ekran-68.jpg{% endblock %}
{% block content %}
<h2 class="text-center mt-2 text-secondary">Курси програмування мови Python</h2>
        <div class="offset-1 mt-4">
            <div>
                <a type="button" class="btn btn-secondary me-3" href="/school_all">Все</a>
                <a type="button" class="btn btn-secondary me-3" href="/school">Мова</a>
                <a type="button" class="btn btn-secondary me-3" href="/school_cite">Сайти</a>
                <a type="button" class="btn btn-outline-secondary me-3" href="/school_game">Ігри</a>
                <a type="button" class="btn btn-secondary me-3" href="/school_google">Хост</a>
                <a type="button" class="btn btn-secondary me-3" href="/school_inshe">Інше</a>
            </div>
        </div>
        <div class="offset-1 embed-responsive embed-responsive-16by9">
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/UjquF7vpGeo" title="Создание 2D платформера на Python / Изучение библиотеки PyGame" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/eJ7Q5qvhbAw" title="Уроки Python / Как сделать игру Змейка (Мастер-класс)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/jZL0Hh1Dc-M" title="Игра на Pygame с нуля / Урок #1 – Разработка игр на Python для начинающих" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/TcRRWuQXNfU" title="Игра на Pygame с нуля / Урок #2 – Установка Pygame. Базовые моменты" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/5SSqrNJaSzM" title="Игра на Pygame с нуля / Урок #3 – Добавление объектов на экран" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/UOVmqIhTMCw" title="Игра на Pygame с нуля / Урок #4 – Анимации и звук" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/xxSQViq9aMs" title="Игра на Pygame с нуля / Урок #5 – Передвижение и прыжок" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/rA5QDeZSStk" title="Игра на Pygame с нуля / Урок #6 – Враги в игре" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="me-5 mt-5" width="353" height="200" src="https://www.youtube.com/embed/3abPaqVuwDs" title="Игра на Pygame с нуля / Урок #7 – Экран проигрыша" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="btn-toolbar mt-5 offset-1" role="toolbar" aria-label="Toolbar with button groups">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="me-3 mt-1 bi bi-arrow-left-square" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
            </svg>
            <a type="button" href="/school_game" title="Сторінка №1" class="btn btn-outline-secondary me-3">1</a>
            <a type="button" href="/school_game_2" title="Сторінка №2" class="btn btn-secondary me-3">2</a>
            <a type="button" href="/school_game_2" title="Наступна сторінка">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="mt-1 bi bi-arrow-right-square-fill" fill="gray" viewBox="0 0 16 16">
                    <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"></path>
                </svg>
            </a>
        </div>
        <h6 class="text-muted mt-5">.</h6>
        <h6 class="text-muted mt-4">.</h6>
{% endblock %}